footer
    .wrapper
        .footer
            .footer-menu
                table
                    tr
                        td <a href="../docs/">Головна</a>
                        td <a href="../docs/delivery.html">Доставка та оплата</a>
                    tr
                        td <a href="../docs/catalog.html">Каталог</a>
                        td <a href="../docs/contact.html">Контакти</a>
                    tr
                        td <a href="../docs/comments.html">Відгуки</a>
            .phone
                p
                    a(href="tel:+380979301788")
                        b +38(097) 930-17-88
                p.mob
                    a(href="tel:+380959371699")
                        b +38(095) 937-16-99
                p
                    a(href="tel:+380631294099")
                        b +38(063) 129-40-99
            .messengers
                .messenger
                    a.icon.viber(href="viber://chat?number=%2B380979301788")
                    a.icon.telegram(href="https://t.me/chatFarmital")
                .mail
                    a.url(href="mailto:likital687@gmail.com") likital687@gmail.com
            .copyright
                img(src="./img/logo.png", alt="")
                p.copy &copy Інтернет Аптека FarmItal 2021-2023
                