header
    .wrapper
        .header-top
            .logo
                a(href="/") 
                    img(src="./img/logo.png", alt="Інтернет Аптека FarmItal", title="Купити ліки в інтернет аптеці Фармітал")
            .search-container
                form(action="") 
                    label.search-label
                        input(type="text" placeholder="Пошук препарату").text-head
                        button(type="submit").sub-head Пошук
            .phone
                p
                    a(href="tel:+380979301788")
                        b +38(097) 930-17-88
                p.mob
                    a(href="tel:+380959371699")
                        b +38(095) 937-16-99
                p
                    a(href="tel:+380631294099")
                        b +38(063) 129-40-99
            .basket
                a.shop(href="#")
                a.heart(href="#")           
    .header-bottom
        ul
            li
                a(href="/") Головна
            li
                a(href="catalog.html") Каталог 
            li 
                a(href="comments.html") Відгуки
            li 
                a(href="delivery.html") Доставка та оплата
            li
                a(href="contact.html") Контакти