doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Інтернет-Аптека Фарміталь продаж ліків, ліки на замовлення з Італії
        link(rel="stylesheet", href="./css/styles.css")
    body
        // h1 Інтернет-Аптека FarmItal
        include components/header

        main 

        include components/footer.pug