include components/mixins

doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Інтернет-Аптека Фарміталь продаж ліків, ліки на замовлення з Італії
        link(rel="stylesheet", href="./css/styles.css")
    body
        // h1 Інтернет-Аптека FarmItal
        include components/header

        main 
            .wrapper 
                .top-info-nicetile 
                    .left-image-nicetile 
                        img(src="./img/kit.jpg", alt="nicetile").image-nicetile
                    .right-info-nicetile
                        h1.h1-nicetile Ніцетіл / Nicetile / Ницетил саше
                        p.price-nicetile 499, 99 грн
                        p.producer-nicetile Виробник: ІТАЛІЯ
                        p.code-nicetile Товар: в наявності
                        p.response 15 відгуків
                        a(href="#").view-all переглянути усі
                        p.h-nicetile Склад та форма випуску:
                        p.text-nicetile Таблетки, покриті кишковорозчинною оболонкою	1 табл.
                        p.text-nicetile L-ацетилкарнітину гідрохлорид	590 мг
                        p.text-nicetile допоміжні речовини: ПВП — 56 мг; МКЦ – 47 мг; магнію стеарат – 7 мг; целюлози ацетофталат – 22,5 мг; діетилфталат – 9,4 мг; диметикон — 3,1 мг	
                        p.text-nicetile у блістері 10 шт.; в коробці 3 блістери.
                        .buy-block
                            select(name="").select-nicetile 
                                option(value="") Таблетки
                                option(value="") Саше(Порошок)

                            a(href="#").a-nicetile купити
                .main-info-block-nicetile 
                    h2.h-nicetile Купити Ніцетіл / Nicetile / Ницетил таблетки:
                    p.text-nicetile Саме в FarmItal ви можете купити Ніцетіл, Nicetile, Ницетил таблетки в Україні. Гарантовано якісні! Доставка Nicetile таблетки здійснюється транспортними компаніями, терміни виконання замовлення обумовлюються менеджером Фармітал. Ви можете замовити Ніцетіл, Nicetile, Ницетил таблетки у містах: Одеса, Херсон, Чернігів, Сєверодонецьк, Бердянськ, Бровари, Дніпро, Вінниця, Київ, Слов'янськ, Полтава, Краматорськ, Біла Церква, Кам'янське, Маріуполь, Чернівці, Олександрія, Кам'янець-Подільський, Львів, Запоріжжя, Кропивницький, Житомир, Івано-Франківськ, Суми, Черкаси, Костянтинівка, Мелітополь, Кривий Ріг, Рівне, Луцьк, Нікополь, Павлоград, Ужгород, Кременчук, Лисичанськ, Хмельницький, Тернопіль, Харків, Миколаїв, а також в інших населених пунктах України.
                    h3.h-nicetile Фармакологічні властивості:
                    p.text-nicetile Ніцетил відноситься до групи ноотропних препаратів. L-ацетилкарнітину гідрохлорид є синтетичним аналогом ацетилкарнітину – речовини, яка у здорових людей синтезується мозковою тканиною, печінкою та нирками. Ацетилкарнітин впливає на життєво важливі функції організму, які страждають при його нестачі:
                    p.text-nicetile Мітохондріальна функція (вироблення енергії всередині клітини) антиоксидартна активність у нейронах центральної та периферичної нервової системи (відновлення та захист нервових клітин та нервових закінчень) вплив на синтез ІФР (інсуліноподібний фактор росту), що впливає на всі обмінні процеси в організмі, в т.ч. підвищується стійкість мозкової тканини до ушкоджуючих факторів, усувається киснева недостатність, покращуються обмінні процеси у серцевому м'язі.
                    p.text-nicetile Підвищує енергетичну вироблення, потрібну для регенераційних процесів, удосконалює фосфоліпідний синтез для мембранної побудови. Ніцетил, як і інші ноотропні засоби, не викликає звикання та має мінімальну кількість побічних ефектів, відновлює структуру нервових клітин (тобто препарат має нейропротекторну дію). Також він сприяє відновленню балансу між гальмівними та збуджуючими реакціями мозку. Таким чином, препарат чинить не тільки симптоматичне лікування, але й діє на джерело захворювання.
                    h4.h-nicetile Показання до застосування:
                    p.text-nicetile Препарат може рекомендуватися для лікування різноманітних уражень нервової системи. Це можуть бути різні психози, що виникають на тлі судинної енцефалопатії. Також Ніцетил показаний при механічних, стовбурових, запальних, радикулярних ушкодженнях периферичного нерва, інволюційному синдромі на фоні судинної енцефалопатії, при діабетичній нейропатії.
                    h5.h-nicetile Спосіб застосування:
                    p.text-nicetile Всередину, таблетки, порошок, гранули для прийому всередину - 0,5-1,5 г на день в 2-3 прийоми за призначенням лікаря.
                    h6.h-nicetile Дозування та спосіб введення:
                    p.text-nicetile Таблетки, вкриті оболонкою, розчинної в кишечнику 500 мг; блістер 10, коробка (коробочка) 3
                    h6.h-nicetile Умови зберігання:
                    p.text-nicetile Зберігати Ніцетил рекомендується у сухому місці до +25°C без прямих променів сонця.
                .similar-products 
                    h6.top-of-sells-h4 Схожі товари
                    .cardwrap 
                        +oneCard(cards.Nicetile)    
                        +oneCard(cards.Nicetile)    
                        +oneCard(cards.Nicetile)
        include components/footer.pug