doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Інтернет-Аптека Фарміталь продаж ліків, ліки на замовлення з Італії
        link(rel="stylesheet", href="./css/styles.css")
    body
        // h1 Інтернет-Аптека FarmItal
        include components/header

        main 
            .wrapper 
                .banner
                    .banner-content
                        h1.banner-h1 Інтернет-Аптека FarmItal - це аптека з найнижчими цінами на європейські ліки в Україні.
                        p.banner-text Окрім найнижчих цін ми надаємо своїм клієнтам якісну та надійну продукцію, якість якої затверджена на Європейському рівні!

                .info
                    h2.info-h2 Переваги Farmital
                    .info-block 
                        .car.info-mini-block
                            h3.info-h3 Швидка доставка ліків
                            p.info-text Замовивши ліки до 16:00, Ви отримаєте їх вже наступного дня.
                        .hands.info-mini-block
                            h3.info-h3 Турбота про ваше здоров'я
                            p.info-text Ваше здоров'я - це найважливіше. Ми готові піти на зустріч в найскладніших ситуаціях.
                        .plus.info-mini-block
                            h3.info-h3 Безпечні ліки
                            p.info-text Ви розраховуєтесь за ліки, після того як їх оглянете їх.
                        .phone-plus.info-mini-block 
                            h3.info-h3 Ми завжди на зв'язку
                            p.info-text Кожного дня з 9:00 до 18:00 наші оператори на зв'язку і готові вам допомогти.
                        .europe.info-mini-block 
                            h3.info-h3 Європейцські виробники
                            p.info-text Ліки доставляють з Європи,де вони проходять сертифікацію по найвищих стандартах 
                .top-of-sells 
                    h4.top-of-sells-h4 Топ продажів       


        include components/footer.pug