@import helpers/vars
@import helpers/mixins
@import helpers/catalog
  
@import  components/header
@import  components/footer

html,
body,
ul,
input,
textarea
  margin: 0
  padding: 0
  font-family: "Montserrat"
body
  display: flex
  flex-direction: column
  min-height: 100vh
header,footer
  flex: 0 1 auto
main
  flex: 1 0 100%
.wrapper
  margin: 0 auto
  max-width: 1000px
  +media(1025)
    max-width: 1000px
  +media(1440)
    max-width: 1240px

.burger-menu
  // display: none
  @media screen and ( max-width: 768px ) 
    position: relative
    display: block 
    padding: 12px 0
    span 
      display: block
      width: 40px
      height: 7px
      background: $green
      background-size: 200%
      border-radius: 2px
      transition: $trs
      &::before,
      &::after
        content: ''
        position: absolute
      &::before
        top: 0
      &::after
        bottom: 0
      &::before,
      &::after
        left: 0
        width: 40px
        height: 7px
        background: $green
        background-size: 200%
        border-radius: 2px
        transition: $trs
        &:hover
          background-color: $green-hov

.text-head
  padding: 15px
  font-size: 16px
  border: 2px solid #009146
  border-radius: 5px


.sub-head
  padding: 6px 22px
  font-size: 16px
  background-color: #009146
  color: #fff
  border: 1px solid #009146
  border-radius: 5px
  cursor: pointer
  position: absolute
  right: 5px
  top: 10px

  &:hover
    background-color: #067a3e

.shop::before,
.heart::before
  position: absolute
  top: -15px
  left: 0

.heart::before
  content: url('../img/heart-prosor.png')

.shop::before
  content: url('../img/basket.png')
  left: -40px

.phone p
  font: 400 15px/6.2px "Montserrat"
  text-align: center

  a:hover
    text-decoration: underline
    color: #a4a4a4

a
  text-decoration: none
  color: #191919

.banner
  margin: 23px 0 100px
  padding: 100px 90px 100px 70px
  border-radius: 5px
  background:
    position: center center
    repeat: no-repeat 
    size: cover

.banner-h1
  color: #009146
  font-size: 25px
  font-weight: 600
  max-width: 800px
  +media(426)
    font-size: 45px


.banner-text
  color: #191919
  font-size: 16px
  font-weight: 400
  text-align: left
  display: inline-block
  max-width: 500px
  +media(426)
    font-size: 25px

.info-h2
  font-size: 40px
  text-align: center
  color: #009146

.info-h3
  color: #191919
  margin: 0
  font-size: 20px
  font-weight: 600

.info-text
  margin: 0
  font-size: 18px
  color: #191919
  font-weight: 400

.info-block
  display: flex
  flex-wrap: wrap
  justify-content: center

.info-mini-block
  display: flex
  padding: 50px 50px 50px 80px
  max-width: 150px
  position: relative
  gap: 20px
  align-items: center
  +media(426)
  padding: 55px
  max-width: 360px
  img
    display: block
.top-of-sells-h4
  color: #009146
  text-align: center
  font-weight: 600
  font-size: 40px

.cardwrap
  display: flex
  flex-wrap: wrap
  justify-content: center

.card
  max-width: 280px
  margin: 20px
  padding: 20px 25px
  border: 2px solid #0e9750
  border-radius: 5px
  +media(1180)
    margin: 10px 20px


.card-name
  color: #0e9750
  font-weight: 600
  font-size: 20px
  flex: 1 1 auto

.card-image
  display: block
  margin: 0 auto

.text-code
  font-weight: 600
  display: inline-block
  margin: 0
  padding-right: 5px

.code
  margin: 0
  display: inline-block

.text-producer
  margin: 0
  margin: 0
  font-weight: 600
  padding-right: 5px
  display: inline-block

.producer
  margin: 0
  display: inline-block

.stick
  width: 100%
  height: 2px
  margin: 10px 0 
  background-color:#0e9750

.price
  font-weight: bold
  font-size: 25px
  margin: 0
  padding: 10px 10px 10px 0
  display: inline-block

.btn
  color: #fff
  padding: 7px 20px
  font-size: 20px
  float: right
  border-radius: 7px
  background-color: #0e9750

.in-katalog-block
  padding: 60px 0
  text-align: center

.in-katalog
  position: relative
  color: #fff
  font-size: 25px
  font-weight: bold
  padding: 15px 80px
  border-radius: 10px
  background-color: #0e9750

.contacts-h1-block
  padding: 50px 0
  font-size: 23px
  color: #0e9750
  font-weight: bold
  text-align: center

.contact-block
  display: flex
  justify-content: center
  padding-bottom: 100px

.left-block
  padding: 30px 0 30px 30px

.background-left-block
  padding: 50px 200px 50px 50px
  background-color: #f0f0f0


.contacts-people
  font-size: 23px
  font-weight: bold
  padding-right: 5px
  display: inline-block

.volodya-i-katuha
  font-size: 20px
  display: inline-block

.hours-of-work
  font-weight: bold
  font-size: 25px

.hours
  font-weight: bold
  font-size: 16px

.email-text
  font-weight: bold
  font-size: 25px

.telephones
  font-weight: bold
  font-size: 25px

.con-list
  font-size: 16px
  list-style: none

.emails
  font-size: 16px

.mesengers
  font-weight: 600
  font-size: 25px

.con-logo
  padding: 0 10px

.right-block
  padding: 0 30px
  max-width: 500px
  border: 2px solid #009146
  border-radius: 5px

.con-h2
  text-align: center
  color: #009146
  font-weight: 600
  font-size: 35px

form
  label
    display: block
    width: 100%
    font-weight: 600
    font-size: 20px
  .wpcf7-form-control
    padding: 15px
    margin-top: 10px
    font-size: 16px
    border: 2px solid #009146
    border-radius: 5px
    max-width: 100%
    display: block
    width: calc( 100% - 30px ) 
  .textarea
    width: 100%
    height: 200px
    resize: none
    border: 2px solid #009146
    border-radius: 5px
    margin-bottom: 25px

  .wpcf7-form-control[type="submit"]
    width: 100%
    color: #fff
    border: none
    border-radius: 5px
    font-size: 20px
    background-color: #009146
    padding: 15px 0
    cursor: pointer
  .wpcf7-form-control[type="submit"]::hover
    color: red
.h-del
  color: #009146
  font-size: 35px
  text-align: center
  padding-bottom: 20px

.new-postal-block 
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: 0 auto
  max-width: 700px
  padding: 20px 50px 20px 0
  margin-bottom: 50px
  border-radius: 5px
  background-color: #f0f0f0

.image-left 
  margin: 0 auto
  padding: 50px
  +media(426)
    padding-top: 60px


.del-image
  width: 220px

.text-right
  max-width: 300px
  +media(426)
    border-left: 2px solid #009146
  h1,h2,h3,h4,h5,h6
    margin: 0 15px 20px
  p
    margin: 0 15px 15px

.payment
  padding: 0 20px 20px 50px
  p
    font-size: 20px
    color: #191919
    font-weight: 400
  h1,h2,h3,h4,h5,h6
    color: #009146
    font-size: 35px
    text-align: center
    padding-bottom: 20px

.form-text,
.email-form
  max-width: 450px
  padding: 15px 0
.crumbs > div
  padding-left: 0 !important
.crumbs > div > ol > li
  position: relative
  font: 400 16px "Montserrat"
  color: #191919
  margin: 0 0px !important
  padding: 0 !important
  a 
    margin: 0 0px !important
    padding: 0 !important
    margin-right: 10px !important
  a:hover
    color: #009146
  &:not(:last-child)
    .separator
      display: inline !important
      margin-right: 15px !important

.top-info-nicetile
  padding: 70px 0
  display: flex
  flex-wrap: wrap
  justify-content: center

.left-image-nicetile 
  width: 500px

.right-info-nicetile
  max-width: 560px
  padding: 10px 0 0 10px 
  +media(1025)
    padding: 0 0 0 50px 


.image-nicetile
  display: block
  margin: 0 auto

.h1-nicetile
  margin-top: 0
  color: #191919
  font-weight: 600
  font-size: 32px

.price-nicetile
  color: #009146
  font-weight: 600
  font-size: 27px

.producer-nicetile
  color: #191919
  font-weight: 500
  font-size: 17px

.code-nicetile
  color: #191919
  font-weight: 100
  font-size: 15px

.response
  margin: 0
  color: #191919
  font-weight: 600
  font-size: 17px
  padding-right: 50px
  display: inline-block

.view-all
  color: #009146
  font-weight: 500
  font-size: 17px
  text-decoration: underline
  &:hover
    text-decoration: none
.right-info-nicetile
  h3
    margin-bottom: 7px
    color: #191919
    font-weight: 600
    font-size: 25px

  h6
    margin: 5px 0
    color: #191919
    font-weight: 400
    font-size: 17px
    padding: 0 30px
    +media(769)
      padding: 0
.main-info-block-nicetile
  h2,h3,h4,h5
    margin-bottom: 7px
    color: #191919
    font-weight: 600
    font-size: 25px
    padding: 0 30px
    +media(769)
      padding: 0
  h6
    margin: 5px 0
    color: #191919
    font-weight: 400
    font-size: 17px
    padding: 0 30px
    +media(769)
      padding: 0
.buy-block
  display: flex
  flex-wrap: wrap
  justify-content: left
  padding-top: 20px 

.a-nicetile
  color: #fff
  text-align: right
  padding: 12px 120px
  border-radius: 5px
  font-size: 20px
  margin-top: 20px
  background-color: #009146
  +media(426)
    margin: 0


.similar-products
  padding-bottom: 70px

.select-nicetile 
  font-size: 16px
  font-weight: 550
  padding: 12px
  border: 2px solid #009146
  border-radius: 7px
  margin-right: 10px

.popup
  position: fixed
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.8)
  top: 0
  left: 0
  opacity: 0
  visibility: hidden 
  z-index: 1
  transition: all 0.8s ease 0s

.popup:target
  opacity: 1
  visibility: visible

.popup:target .popup-content
  transform: translate(0, 0)
  opacity: 1

.popup-body
  min-height: 100%
  display: flex
  align-items: center
  justify-content: center
  padding: 30px 10px
  z-index: 100

.popup-content 
  background-color: #fff
  color: #000
  max-width: 800px
  padding: 30px
  position: relative
  border: 3px solid #009146
  border-radius: 5px
  transition: all 0.8s ease 0s
  opacity: 0
  transform: translate(0, -100%)
  z-index: 100
  .popup-area
    display: none

.popup-close
  position: absolute
  right: 10px
  top: 0
  color: #009146
  font-weight: 800
  font-size: 35px
  transform: rotate(45deg)
  
.popup-area
  z-index: 1
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0

.popup-block
  display: flex

.left-popup
  padding: 0 50px 50px 50px
  border-right: 2px solid #009146

.right-popup
  padding: 85px 50px 

.left-popup
  h1,h2,h3,h4,h5,h6
    font-size: 35px
    font-weight: bold
  p
    max-width: 400px
    font-size: 25px
    &:not(:last-child)
      padding-bottom: 70px

.pud
  padding-bottom: 70px
  &::before
    transform: translateY(calc( 50% - 70px ))
    left: -10px

.phone-popup
  padding-left: 20px
  font: 400 12px "Montserrat"
  text-align: left
  color: #191919

  a
    font-size: 16px
    text-decoration: none

.messengers-popup
  padding-top: 120px
  padding-right: 100px
  font-size: 20px

.mail-popup
  padding-top: 70px
  padding-left: 30px

.main-filter
  display: flex
  justify-content: space-between
  align-items: flex-start
  padding-bottom: 100px

.filter
  max-width: 300px

.cards-catalog
  max-width: 924px
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap
.pagination
  display: flex
  gap: 5px
  width: 100%
  align-items: center
  justify-content: center
  &__item
    padding: 8px
    border-radius: 5px
    font-size: 14px
    color: #191919
    font-weight: 500
    font-family: "Montserrat", sans-serif
    transition: .3s ease all
    &.active, &:hover
      background-color: #009146
      color: #fff
.submit-catalog
  color: #fff
  font-size: 20px
  font-weight: 500
  background-color: #009146
  padding: 10px 70px
  max-width: 300px
  margin-bottom: 15px
  margin-top: 20px
  cursor: pointer
.def-catalog
  display: block
  color: #009146
  font-size: 20px
  font-weight: 600
  background-color: #fff
  padding: 10px 50px
  text-align: center
  max-width: 300px
  font-size: 18px
  font-family: "Montserrat", sans-serif
  border-radius: 5px
  border: 2px solid #0e9750
  cursor: pointer

.price-catalog,
.form-release,
.recept,
.for-what
  padding: 0 0 10px 0
  border-bottom: 1px solid #009146

.price-num
  padding: 5px 7px
  max-width: 60px

.price-line
  padding: 0 0px
  width: 20px
  font-size: 50px
  margin: 0px 30px
  display: inline-block

.h2-price
  font-size: 25px
  color: #009146
  margin: 0

.h3-release
  font-size: 25px
  color: #009146

.h4-catalog
  font-size: 25px
  color: #009146

.h5-catalog
  font-size: 25px
  color: #009146

.checkbox-catalog 
  height: 20px
  width: 20px

.checkbox-text
  font-size: 22px
  word-wrap: none
  display: flex
  font-weight: 400
  align-items: center
  gap: 10px
.section
  padding: 5px 5px 5px 0
.reviews
  display: flex
  align-items: flex-start
  justify-content: space-between
  &__form
    max-width: 402px
    p
      font-size: 18px
      color: #191919
      font-weight: 400
      font-family: "Montserrat", sans-serif
      margin: 0
      &:not(:last-child)
        margin-bottom: 10px
    form
      margin-top: 32px
      border-radius: 5px
      background-color: #ffffff
      border: 2px solid #009146
      padding-right: 18px
      padding-left: 18px
      padding-top: 32px
      padding-bottom: 20px
      h2
        margin: 0
        margin-bottom: 16px
      label
        display: flex
        flex-direction: column
        span
          display: block
          margin-bottom: 8px
        &:not(:last-child)
          margin-bottom: 20px
        input,textarea
          font-size: 16px
          color: #191919
          font-weight: 500
          font-family: "Montserrat", sans-serif
          padding: 12px 0px
          padding-left: 10px
          max-width: 348px
          &:focus
            border-color: #000000
        textarea
          resize: none
          min-height: 100px
          outline: none
          border: 2px solid #009146
          border-radius: 5px
      input[type="submit"]
        color: #ffffff
        font-weight: 600
        font-family: "Montserrat", sans-serif
        font-size: 18px
        padding: 12.5px 0
        text-align: center
        position: static
        border-radius: 10px
        background-color: #15b361
        cursor: pointer
        border-color: #15b361
  &__title
    text-align: center
    font-size: 30px
    font-family: "Montserrat", sans-serif
    font-weight: 600
    margin-bottom: 42px
    color: #009146
  &__list
    max-width: 750px
    width: 100%
  &__item
    border-radius: 5px
    background-color: #f0f0f0
    padding: 30px 22px 40px 18px
    margin-bottom: 10px
  &__head
    display: flex
    align-items: center
    justify-content: space-between
    h3
      margin: 0
      font-size: 18px
      font-weight: 600
      font-family: "Montserrat", sans-serif
      color: #009146
      line-height: 36px
    time
      font-size: 14px
      font-weight: 400
      font-family: "Montserrat", sans-serif
      color: #191919
      font-style: italic
      line-height: 36px
  & > p
    margin: 0
    font-size: 12px
    color: #191919
    font-family: "Montserrat", sans-serif
    font-weight: 400